div.SetupPanel {


}

div.selectGroup {
		width: 100%;
  /*box-shadow: 5px 5px grey;*/
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding-bottom:  0.3em;
  background: #E8ECE3;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
    border: 1px solid grey;
}